nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: arial,sans-serif;
}
.navigationlinks a {
    text-decoration: none;
    padding: 10px;
    color: #666;
    margin: 0px;
}
a:hover {
    text-decoration: underline;
    color: #666;
}
#googlelogo {
    display: block;
    margin: 30vh auto 0px auto;
    width: 25%;
    height: auto;
}
form {
    display: block;
    margin-top: 0em;
    font-family: arial,sans-serif;

}
#searcharea {
    display: block;
    margin: 5vh auto;
    width: 520px;
    height: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: arial,sans-serif;
}
.googlesearch {
    display: block;
    padding: 10px;
    border: none;
    position: fixed;
    top: 65%;
    left: 35%;
    padding: 10px 15px;
    background: #f3f3f3;
    color: #666;
    font-weight: bold;
    text-align: center;
    height: 32px;
    font-family: arial,sans-serif;
}
.imfeelinglucky {
    display: block;
    padding: 10px;
    position: fixed;
    top: 65%;
    left: 50%;
    padding: 10px 15px;
    border: none;
    background: #f3f3f3;
    color: #666;
    font-weight: bold;
    text-align: center;
    height: 32px;
    font-family: arial,sans-serif;
}
.bottombar a {
    text-decoration: none;
    color: #666;
    font-family: arial,sans-serif;
}
.bottombar a:hover {
    text-decoration: underline;
    color: #666;
}
.bottombar {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    background-color: #f3f3f3;
    padding: 15px;
    width: 100vw;
    height: 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 0.5px solid #ddd;
    border-top-width: 0.5px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
}
#terms {
    right: 0;
}